/* browser reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
}
body{
    width: 100vw;
}
.partnerIcons{
    width: 101px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alignCenter{
    display: flex;
    align-items: center;
}
.flex-Start{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.header{
    font-size: .8rem;
}
.partnerships{
    width: 100%;
    gap: 3rem;
    background-color: rgb(246,246,246);
    padding: .3rem 0;
    padding-left: 0rem;
}
.midNav{
    width: 100%;
    gap: 3rem;
    padding: .5rem 2rem;
    background-color: rgb(237,1,127);
}
.nav-logo{
    width: 123px;
}
.searchIcon{
    
}
a{
    text-decoration: none;
    color: white;
}
.searchArea{
    width:45% ;
    margin: 0;
    position: relative;
}
.searchArea input{
    width: 90%;
    padding: .1rem 0rem;
    border-radius: .3rem;
    border: none;
}
.searchWrapp{
    background-color: orange;
    width: 60px;
    right: 3rem;
    position: absolute;
    padding: .6rem;
    border-top-right-radius: .3rem;
}
.white{
    color: white;
}
.help{
    
}
.leftNav{
    margin: 0;
    gap: 2rem;
}
.cart-wrapp{
    background-color: rgb(51,178,123);
    gap: 2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    font-size: .7rem;
    
}
.order{
    width: 10px;
    background-color: white;
    padding: .2rem .3rem;
}
.lowerNav{
    gap: 3rem;
    background-color: rgb(148,0,79);
    padding: .7rem 1rem;
    font-size: .9rem;
}
.lowerNav a{
    /* color: black; */
}
.category{
    font-weight: bold;
}
body .heroSectn{
    width: 100%;
    gap: .7rem;
    padding: 1rem 1rem;
}
.chev{
    background-color:rgb(252,252,253);
    width: 55px;
    height: 55px;
    padding: .2rem .2rem;
    border-radius: 2rem;
    box-shadow: 25px black;
}
.right-absol{
    position: absolute;
    top: 10rem;
    left: 1.4rem;
    opacity: .0;
}


.left-absol{
    right: 1.4rem;
    position: absolute;
    top: 10rem;
    opacity: .0;
    
    
}
.left-absol:hover,.right-absol:hover{
opacity: .7;
}

.chevIcon{

}
.right-Hero-Sectn{
    width: 70%;
    border-radius: .4rem;
    position: relative;
    /* background-color: green; */
}
.left-Hero-Sectn{
    width: 30%;
    padding: 0rem .3rem;
}
.rightHeroImg{
    width:100% ;
    border-radius: .4rem;
    /* background-color: red; */
}
.hero-left-Img{
    width: 49.4%;
    border-radius: 1rem 1rem;
    padding : .4rem;
}
.mobLog{
    display: none;
}
.moboNav{
    display: none;
}
.mob-hero-bottom{
    display: none;
}
.ham-list{
    display: none;
}








@media screen and (max-width: 600px) {
    body{
        width: 100vw;
    }
    .partnerIcons{
        width: 101px;
        display:none;
    }
    .ham-list{
        display: none;
    }
    .searchIcon{
        background-color: orange;
        width: 30px;
        height: 30px;

    }
    .active{
        display: block;
    }
    .inactive{
        visibility: hidden;
    }
    .servDetail p{
        font-size: 13px;
    }
    .servSectnCar{
        width: 50%;
        gap: .6rem;
       padding: 1rem 1rem;
        border-left: .2px solid rgb(226,226,226) ;
        border-bottom: .2px solid rgb(226,226,226) ;

    }
    .contact-us{
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        padding-left: 1rem;
        font-size: .2rem;
    }
    .contact-us p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: gray;
    }
    .bord-rig{
        border-right: none;
    }
    
    .bord-left{
        border-left: none;
        /* background-color: red; */
    }
    
a{
    text-decoration: none;
}
.categories-sectn{
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1rem;
    flex-direction: column;
}
.categoryDetail{
    border: 1px solid rgb(194, 192, 192);
    padding: .7rem 0rem;
    border-left: none;
    border-right: none;
    border-top: none;
    /* gap: .4rem; */
}
.categoryDetail a{
    color: rgb(100, 99, 99);
    font-size: 13px;
}
.category{
    color: black;
    font-size: 1.1rem;
}
.categ-gap{
    /* gap: 3rem; */
}
.mobo-ham-footer{
    width: 100%;
    display: flex;
    padding: 1.5rem 1.7rem;
    gap: 3.8rem;
    justify-content: flex-start;
    /* gap: -10rem; */
}
.home p{
color: rgb(87,87,87);
}
.home svg{
color: rgb(87,87,87);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .top-ham-list{
    /* display: block;/ */
    display: flex;
  }
  

    
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .alignCenter{
        display: flex;
        align-items: center;
    }
    .flex-Start{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    
    .header{
        font-size: .8rem;
    }
    .partnerships{
        display: none;
    }
    .midNav{
        display: none;
    }
    .mobLog{
        display: block;
        width: 80px;
    }
    .moboNav{
        width: 100%;
        display: block;
        /* background-color: green; */
        display: flex;
        padding: .2rem .5rem;
        justify-content: space-between;
        flex-direction: column;
        /* position: fixed; */
    }
    .mobSearch input{
        width: 90%;
        border-radius: .3rem;
        border: none;
        padding: 0rem 1rem;
        background-color: rgb(228, 225, 225);
        height: 30px;
    }
    .top-mobo-nav{
        paddin
        gap: 23rem;
        width: 100%;
        padding: 1rem 1rem;
        background-color: gray;
    }
    .flex-spacebtn{
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
   
    .nav-logo{
        width: 123px;
    }
    .right-mob-nav{
        gap: .6rem;
    }
    .top-mobo-nav{
        margin-top: 1rem;
    }
    .mobSerach{
        position: absolute;
        right: 1.2rem;
    }
    .top-mobo-nav{
        border: 2px;
    }
    
    
    .left-mob-nav{
     gap: 1rem;
    }
    .mobIcons{
      margin-top: 1rem;
      border: none;
      gap: 2rem;
  padding: 10px;
  box-shadow: 0 2px #d6d4d4;
  width: 100%;
    }
    .bottom-mobo-nav{
        margin-top: 1rem;
        width: 80%;
    }
    .bottom-mobo-nav input{
        width: 90%;
        font-size: 1rem;
    }
    .searchIcon{
        
    }
    a{
        text-decoration: none;
        color: white;
    }
    .searchArea{
        width:45% ;
        margin: 0;
        position: relative;
    }
    .searchArea input{
        width: 90%;
        padding: .1rem .5rem;
        border-radius: .3rem;
        border: none;
    }
    .searchWrapp{
        background-color: orange;
        width: 60px;
        right: 3rem;
        position: absolute;
        padding: .6rem;
        border-top-right-radius: .3rem;
    }
    .white{
        color: white;
    }
    .help{
        
    }
    .leftNav{
        margin: 0;
        gap: 2rem;
    }
    .cart-wrapp{
        background-color: rgb(51,178,123);
        gap: 2rem;
        padding-left: .8rem;
        padding-right: .8rem;
        font-size: .7rem;
        
    }
    .order{
        width: 10px;
        background-color: white;
        padding: .2rem .3rem;
    }
    .lowerNav{
        gap: 3rem;
        background-color: rgb(148,0,79);
        padding: .7rem 1rem;
        font-size: .9rem;
        display: none;
    }
    .lowerNav a{
        /* color: black; */
    }
    .category{
        font-weight: bold;
    }
    body .heroSectn{
        width: 100%;
        gap: .7rem;
        /* padding: 1rem 1rem; */
        flex-direction: column;
    }
        .left-Hero-Sectn{
        width: 100%;
        padding: 0rem .3rem;
        display: none;
    }
    .rightHeroImg{
        width:95% ;
        border-radius: .4rem;
        margin-left: .5rem;
        /* background-color: red; */
    }
    .chev{
        background-color:rgb(252,252,253);
        width: 55px;
        height: 55px;
        padding: .2rem .2rem;
        border-radius: 2rem;
        box-shadow: 25px black;
    }
    .right-absol{
        position: absolute;
        top: 10rem;
        left: 1.4rem;
        opacity: .0;
    }
    
    
    .left-absol{
        right: 1.4rem;
        position: absolute;
        top: 10rem;
        opacity: .0;
        display: none;

    }
    .left-absol:hover,.right-absol:hover{
    opacity: .7;
    }
    
    .chevIcon{
    
    }
    .right-Hero-Sectn{
        width: 100%;
        border-radius: .4rem;
        position: relative;

        /* background-color: green; */
    }

    .hero-left-Img{
        width: 150%;
        border-radius: 1rem 1rem;
        padding : .4rem;
    }
    .mob-hero-bottom{
        display: block;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: .2rem .3rem;
    }
    .mobo-hero-left-Img{
        width: 49.1%;
        border-radius: .3rem;

    }
    .moboNav{}
    .heroSectn{
        display: none;
    }
    .ham-list{
        width: 100%;
        width: 20%;
        visibility:visible ;
        padding: .5rem .5rem;
    }

    
    .flex-spacebtn{
        display: flex;
        justify-content: space-between;
    
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-start{
        display: flex;
        justify-content: flex-start;
    }

    .padding-sides{
        padding: 0 .5rem;
    }
    button{
        width: 45%;
        padding: .8rem 1.1rem;
        background-color: transparent;
        border: 1.5px solid rgb(237,1,127);
        color: rgb(237,1,127);
        font-weight: bolder;
        border-radius: .3rem;
    }
    .partnerships{
        display: none;
    }
    .top-ham-list{
        /* background-color: red; */
        padding: 1rem 1rem;
        width: 100%;
    }
    .right-top-ham-list{
        gap: 1rem;
    }
    .left-top-ham-list{
        gap: .5rem;
    }
    .bttm-ham-list{
        padding-top: 1rem;
        padding-bottom: .5rem;
        border-radius: .4rem;
    }
    .bttm-ham-list{
        gap: 1rem;
    }
    
    .services{
        width: 100vw;
        flex-wrap: wrap;
        color: rgb(73, 73, 73);
        border: .2px solid rgb(226,226,226) ;
        border-left: none;
        border-right: none;
    }
    .services a{
        text-decoration: none;
        
    }
    .servicegap{
        color: rgb(87,87,87);
        gap: 1rem;
    }
    h3{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
    .servDetail{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        gap: .2rem;














    
    
    
}
@media screen and (max-width: 540px) {
    .top-mobo-nav{
        gap: 16rem;
        width: 100%;
    }
    .bottom-mobo-nav{
        margin-top: 1rem;
        width: 100%;
        
    }
    .mobIcons{
      margin-top: 1rem;
      border: none;
      gap: 3rem;
      /* background-color: red; */
  padding: 10px;
  box-shadow: 0 2px #d6d4d4;
  width: 100%;
    }
    .mobSerach{
        margin-right: 1rem;
    }
@media screen and (max-width: 458px) {
    .top-mobo-nav{
        gap: 14rem;
        width: 100%;
    }
    .mobIcons{
      margin-top: 1rem;
      border: none;
      gap: 2rem;
  padding: 10px;
  box-shadow: 0 2px #d6d4d4;
  width: 100%;
    }
    .mobSerach{
        margin-right: 1rem;
    }
    .mob-hero-bottom{
        display: block;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: .2rem .3rem;
    }
    .mobo-hero-left-Img{
        width: 49.1%;
        border-radius: .3rem;

    }
}
@media screen and (max-width: 392px) {
    .top-mobo-nav{
        gap: 9rem;
        width: 100%;
        
    }
    .mobIcons{
        margin-top: 1rem;
        border: none;
        gap: 1rem;
    padding: 10px;
    box-shadow: 0 2px #d6d4d4;
    width: 100%;
      }
      .mob-hero-bottom{
        display: block;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: .2rem .3rem;
    }
    .mobo-hero-left-Img{
        width: 49.1%;
        border-radius: .3rem;

    }
}
@media screen and (max-width: 300px) {
    .top-mobo-nav{
        gap: 6rem;
        width: 100%;
        
    }
    .mobSerach{
        margin-right: 2rem;
    }
    .icon-wrapp p{
        font-size: .7rem;
    }
}
@media screen and (max-width: 238px) {
    .top-mobo-nav{
        gap: 3rem;
        width: 100%;
        
    }
    .mobIcons{
        gap: .1rem;
        /* background-color: blueviolet; */
    }
    .icon-wrapp p{
        font-size: .7rem;
    }
    .icon-wrapp svg{
        width: 20px;
        font-size: 1rem;
    }
    .mobSerach{
        margin-right: 0rem;
        /* background-color:green; */
    }
@media screen and (max-width: 196px) {
    .top-mobo-nav{
        gap: 1rem;
        width: 100%;
        
    }
    .icon-wrapp p{
        font-size: .7rem;
    }
}
