/* browser reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-weight: 200;
}
body{
    width: 100vw;
}
.ham-list{
    width: 100%;
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    body {
      width: 100vw;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /* p{
        font-size: .9rem;
    } */
    body{
        width: 100vw;
    }
    .ham-list{
        width: 100%;
        visibility:visible ;
        padding: .5rem .5rem;
    }

    
    .flex-spacebtn{
        display: flex;
        justify-content: space-between;
    
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-start{
        display: flex;
        justify-content: flex-start;
    }

    .padding-sides{
        padding: 0 .5rem;
    }
    button{
        width: 45%;
        padding: .8rem 1.1rem;
        background-color: transparent;
        border: 1.5px solid rgb(237,1,127);
        color: rgb(237,1,127);
        font-weight: bolder;
        border-radius: .3rem;
    }
    .top-ham-list{
        /* background-color: red; */
        padding: 1rem 1rem;
        width: 100%;
    }
    .right-top-ham-list{
        gap: 1rem;
    }
    .left-top-ham-list{
        gap: .5rem;
    }
    .bttm-ham-list{
        padding-top: 1rem;
        padding-bottom: .5rem;
        border-radius: .4rem;
    }
    .bttm-ham-list{
        gap: 1rem;
    }
    
    .services{
        width: 100vw;
        flex-wrap: wrap;
        color: rgb(73, 73, 73);
        border: .2px solid rgb(226,226,226) ;
        border-left: none;
        border-right: none;
    }
    .services a{
        text-decoration: none;
        
    }
    .servicegap{
        color: rgb(87,87,87);
        gap: 1rem;
    }
    h3{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
    .servDetail{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        gap: .2rem;
    }
    .servDetail p{
        font-size: 13px;
    }
    .servSectnCar{
        width: 50%;
        gap: .6rem;
       padding: 1rem 1rem;
        border-left: .2px solid rgb(226,226,226) ;
        border-bottom: .2px solid rgb(226,226,226) ;

    }
    .contact-us{
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        padding-left: 1rem;
        font-size: .2rem;
    }
    .contact-us p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: gray;
    }
    .bord-rig{
        border-right: none;
    }
    
    .bord-left{
        border-left: none;
        /* background-color: red; */
    }
    
a{
    text-decoration: none;
}
.categories-sectn{
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1rem;
    flex-direction: column;
}
.categoryDetail{
    border: 1px solid rgb(194, 192, 192);
    padding: .7rem 0rem;
    border-left: none;
    border-right: none;
    border-top: none;
    /* gap: .4rem; */
}
.categoryDetail a{
    color: rgb(100, 99, 99);
    font-size: 13px;
}
.category{
    color: black;
    font-size: 1.1rem;
}
.categ-gap{
    /* gap: 3rem; */
}
.mobo-ham-footer{
    width: 100%;
    display: flex;
    padding: 1.5rem 1.7rem;
    gap: 3.8rem;
    justify-content: flex-start;
    /* gap: -10rem; */
}
.home p{
color: rgb(87,87,87);
}
.home svg{
color: rgb(87,87,87);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .top-ham-list{
    /* display: block;/ */
    display: flex;
  }
  

  }